/* styles.css */


/* Variables for consistent theming */

:root {
    --primary-color: #43B02A;
    /* Updated primary color */
    --secondary-color: #00695c;
    --background-color: #f9f9f9;
    --text-color: #333333;
    --accent-color: var(--primary-color);
    /* Set accent color to primary color */
    --font-family: 'Montserrat', sans-serif;
    --dark-color: #1A1A1A;
    --light-color: #FFFFFF;
    --additional-color-1: #FFB100;
    --additional-color-2: #000000;
    --additional-color-3: #FFBC7D;
    --primary-green: #4CAF50;
    --secondary-gray: #424242;
    --text-white: #FFFFFF;
}


/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
}


/* Links */

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}


/* Header and Navigation */

.header {
    background-color: var(--dark-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
    margin: 0 15px;
}

.nav-menu li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: var(--dark-color);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Main Banner */

.main-banner {
    background-color: #699944;
    padding: 100px 20px;
    text-align: center;
    color: var(--light-color);
}

.main-banner h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-banner p {
    font-size: 1.5rem;
}


/* Feature Section */

.feature-section {
    padding: 50px 20px;
    text-align: center;
}

.feature-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: var(--secondary-color);
}

.feature-box {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 15px;
    background-color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.feature-box h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.feature-box p {
    color: var(--text-color);
}


/* Statistics Section */

.statistics-section {
    display: flex;
    justify-content: space-around;
    background-color: #d8d8d8;
    padding: 50px 0;
    color: var(--dark-color);
}

.stat-box {
    width: 30%;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.stat-box:hover {
    transform: scale(1.05);
}

.stat-box h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 1.25rem;
}


/* Carousel Section */

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    background-color: var(--light-color);
    padding: 20px 0;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--light-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}


/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--light-color);
}


/* Responsive Design */

@media (max-width: 768px) {
    .statistics-section {
        flex-direction: column;
    }
    .stat-box {
        width: 80%;
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .feature-section .feature-box {
        width: 90%;
        margin: 20px auto;
    }
}